grafana:
  adminPassword: "Grafana12345"
  service:
    type: NodePort
  persistence:
    enabled: false

prometheus:
  service:
    type: ClusterIP
  prometheusSpec:
    retention: 2d

alertmanager:
  enabled: true
